:root {
	--grid-size: 40px;
	--grid-x: 1px;
	--grid-y: 1px;

	--fg-1: #fff;
	--fg-2: #aaa;
	--bg-2: #3c4255;
	--bg-1: #0b132b;
}

body {
	margin: 0;
	background-color: var(--bg-1);
	color: var(--fg-1);

	-webkit-user-select: none;
	user-select: none;
}

.grid {
	width: 100vw;
	height: 100vh;
	background-image: radial-gradient(
		circle at var(--grid-x) var(--grid-y),
		var(--bg-2) 2px,
		transparent 0
	);
	background-size: var(--grid-size) var(--grid-size);
}
